<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kissanapp">

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.KissanApp">
        <activity android:name=".AdDetail"></activity>
        <activity android:name=".CreateAd"></activity>
        <activity android:name=".ChatList" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MyProfile" />
        <activity android:name=".NotificationsActivity" />
        <activity android:name=".NewProductActivity" />
        <activity android:name=".SellingActivity" />
        <activity
            android:name=".DetailFruitActivity"
            android:parentActivityName=".FruitActivity" />
        <activity android:name=".RiceActivity" />
        <activity android:name=".Chat" />
        <activity android:name=".FruitActivity" />
        <activity android:name=".ChickenActivity" />
        <activity android:name=".CompleteProfileActivity" />
        <activity
            android:name=".LogInActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity
            android:name=".SplashScreen"
            android:theme="@style/Theme.MaterialComponents.Light.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>